.tutorial-page {

    .toolbar-background {
      background: #fff;
      border-color: transparent;
    }

    .slide-zoom {
      height: 100%;
    }
  
    .slide-title {
      margin-top: 5px;
      color: #FF4500;
    }

    .slide-heading {
      text-align: left;
    }

    .slide-para {
      text-align: left;
    }
  
    .slide-image {
      max-height: 100%;
      max-width: 100%;
      margin: 5px 0;
    }

 .doctor1 {
  width: 58px;
 }


 .para {
   color: #000000;
 }

    // .doctor {
    //   width: 65px;
    //   height: 65px;
    // }

 
    
  
    b {
      font-weight: 500;
    }
  
    p {
      // padding: 0 40px;
      font-size: 14px;
      line-height: 1.5;
      color: #60646B;
  
      b {
        color: #000000;
      }
    }
  
  }