page-home {
    h1 {
        font-size: 80px;
        text-align: center;
        color: #FF4500;
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }
    p {
        font-size: 20px;
        text-align: center;
        margin-left: 130px;
        margin-top:-100px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold
    }

    .align {
        text-align: center;
        margin-top:10px;
    }

    .margin {
        margin-top:100px;
    }

    
}
