page-appointment-2 {
    h4 {
        font-weight: bold;
        text-align: center;
    }

    p {
        text-align: center;
        font-size: 15px;
        color: grey;
    }

   .para {
       color:black;
       font-weight: bold;
   }

   .para-1 {
    color: grey;
   }
}
